html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  padding: 2rem;
}

article {
  padding: 1rem;
  border: 1px solid rgb(24, 22, 22);
}

.container {
  padding: 3rem;
  max-width: 100%;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  font-style: italic;
}

section {
  display: flex;
}

.quater {
  width: 25%;
}

.half {
  width: 50%;
  border-left: none;
  border-right: none;
}

.three-quaters {
  width: 75%;
}

img {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.menu {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 0;
  font-size: 2.5rem;
  border-left: none;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.menu-item:first-of-type {
  background-color: #ffeaa7;
}

.menu-item:nth-of-type(2) {
  background-color: #81ecec;
}

.menu-item:nth-of-type(3) {
  background-color: #55efc4;
}

.menu-item:nth-of-type(4) {
  background-color: #74b9ff;
}

.menu-item:nth-of-type(5) {
  background-color: #a29bfe;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }
}
