@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #4d4e53;
}

h1,
h2 {
  font-size: 2.8rem;
}

article {
  padding-left: 1rem;
}

code {
  background-color: #f7f7f7;
  border-radius: 0.4rem;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin: 1rem;
  display: block;
  text-align: left;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 290px;
  width: 300px;
  height: 100%;
  border-right: 1px solid #4d4e53;
}

.navbar h1 {
  padding-left: 2rem;
}

.nav-items {
  list-style-type: none;
  padding-left: 0;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  padding-left: 2rem;
}

.nav-item {
  padding: 1.2rem 0;
  border-top: 1px solid #4d4e53;
  position: relative;
  width: 100%;
}

/* main section */

.main {
  position: absolute;
  margin-left: 300px;
  padding: 1rem 3rem;
  line-height: 1.5;
}

@media only screen and (max-width: 815px) {
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 275px;
    overflow: scroll;
    z-index: 1;
  }

  .navbar h1 {
    text-align: center;
  }

  .nav-items {
    max-height: 300px;
    margin: 0;
    border: 1px solid black;
  }

  .nav-item a {
    padding-left: 3rem;
  }
  .main {
    position: relative;
    margin-top: 300px;
    margin-left: 0;
  }
}
